.sidebar {
  @media (min-width: 768px) {
    width: 16rem;
  }
}

.sidebar-popup-enter-active,
.sidebar-popup-exit {
  .sidebar-overlay {
    @apply opacity-100;
  }

  .sidebar-wrapper {
    @apply translate-x-0;
  }
}

.sidebar-popup-enter,
.sidebar-popup-exit-active,
.sidebar-popup-exit-done {
  .sidebar-overlay {
    @apply opacity-0;
  }

  .sidebar-wrapper {
    @apply -translate-x-full;
  }
}

.sidebar-popup-exit-done {
  @apply hidden #{!important};
}

.sidebar-popup-right-enter-active,
.sidebar-popup-right-exit {
	.sidebar-overlay {
		@apply opacity-100;
	}

	.sidebar-wrapper {
		@apply translate-x-0;
	}
}

.sidebar-popup-right-enter,
.sidebar-popup-right-exit-active,
.sidebar-popup-right-exit-done {
	.sidebar-overlay {
		@apply opacity-0;
	}

	.sidebar-wrapper {
		@apply translate-x-full;
	}
}

.sidebar-popup-right-exit-done {
	@apply hidden #{!important};
}

.workspace-switch {
  .popup-mask,
  .popup-content {
    @apply z-50;
  }

  .menus {
    @extend .scrollbar;
    @apply w-full sm:w-80 2xl:w-96 py-4 -mt-12;

    @media (min-width: 768px) {
      width: 22.5rem;
      max-height: 80vh;
    }

    .avatar-text {
      @apply text-sm;
    }
  }

  .button {
    @apply flex w-full;

    .avatar-text {
      @apply text-sm;
    }
  }

  .button-content {
    @apply flex-auto text-left;
  }
}
