.datepicker-dropdown {
  @apply my-2 text-sm rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.datepicker-container {
  @apply flex;
}

.datepicker-panel {
  @apply px-4 pt-4 pb-3;
  width: 18.625rem;
}

.datepicker-header,
.datepicker-current,
.datepicker-navigation,
.datepicker-row {
  @apply flex items-center;
}

.datepicker-header {
  @apply px-2 mb-2 justify-between;
}

button.datepicker-button {
  @apply flex items-center justify-center w-5 h-5 rounded hover:bg-slate-200;

  &:active {
    @apply bg-slate-300;
  }

  svg {
    @apply w-4 h-4 text-slate-500 transform transition-transform duration-200 ease-in-out;
  }

  &.datepicker-button-open {
    svg {
      @apply rotate-180;
    }
  }
}

button.datepicker-current-month,
button.datepicker-current-year {
  @apply font-medium hover:text-blue-700;
}

button.datepicker-current-month {
  @apply w-6 text-left;
}

.datepicker-current-year {
  @apply text-left;
  width: 2.875rem;
}

.datepicker-navigation {
  @apply space-x-2.5;
}

.datepicker-day-names {
  @apply text-xs;
}

.datepicker-row {
  @apply flex items-center py-1;
}

.datepicker-cell {
  @apply flex items-center justify-center mx-1;
  width: 1.875rem;
  height: 1.875rem;
}

.datepicker-day-names,
.datepicker-cell-out-month,
.datepicker-cell-disabled {
  @apply text-slate-400;
}

.datepicker-cell-disabled {
  @apply cursor-default pointer-events-none;
}

.datepicker-month-picker,
.datepicker-year-picker {
  @apply flex-col;
  height: 16.625rem;

  &,
  .datepicker-row {
    @apply flex justify-between;
  }

  .datepicker-cell {
    width: 2.875rem;
  }
}

.datepicker-year-picker {
  .datepicker-cell {
    @apply w-14 p-0;
  }
}

.datepicker-month,
.datepicker-month-picker,
.datepicker-year-picker {
  .datepicker-cell {
    @apply rounded-full cursor-pointer hover:bg-blue-100;
  }

  .datepicker-cell-today {
    @apply text-blue-700;
  }

  .datepicker-cell-selected {
    &,
    &:hover {
      @apply bg-blue-700 text-white;
    }
  }
}

.datepicker-today {
  @apply flex items-center justify-center py-2.5 border-t border-gray-100;

  button.datepicker-button {
    @apply w-auto h-auto px-1 py-0.5 text-blue-700;

    &:hover {
      @apply bg-blue-100;
    }
  }
}

.timepicker-panel {
  @apply border-l border-gray-100;
}

.timepicker-panel-header {
  @apply text-center;
  padding-top: 0.875rem;
  padding-bottom: 0.75rem;
}

.timepicker-options {
  @apply overflow-y-auto;
  height: 17.25rem;

  .select-option {
    @apply cursor-pointer py-2 px-4 text-slate-900 hover:bg-blue-100;
  }

  .select-option-active {
    @apply font-medium bg-blue-700 hover:bg-blue-700 text-white;
  }

  .select-option-disabled {
    @apply text-slate-400 cursor-default pointer-events-none;
  }
}
