.select {
  @apply relative inline-block w-full;

  &.select-error {
    @apply border-red-300;
  }
}

.select-auto-width {
  @apply w-auto;
}

.select-native-like {
  .popup {
    @apply absolute left-0 sm:top-11 top-9 w-full z-20;
  }

  .select-popup-content {
    @apply transition ease-in-out;
    display: none;
    transform-origin: 0 0;
    transition-duration: 100ms;
  }

  .popup-transition-exiting,
  .popup-transition-entered,
  .popup-transition-entering {
    .select-popup-content {
      display: block;
    }
  }

  // Transaction
  .popup-transition-entering,
  .popup-transition-exiting {
    .select-popup-content {
      @apply transform opacity-0 scale-95;
    }
  }
}

.select-error {
  .select-button,
  button.select-button {
    @apply border-red-300;

    .select-arrow-icon {
      @apply text-red-500;
    }

    .select-value:before {
      @apply text-red-300
    }
  }
}

.select-native,
.select-button,
button.select-button {
  @apply bg-white relative w-full border border-gray-300 rounded-md pl-3 pr-6 py-2 text-left sm:text-sm cursor-default focus:ring-1 focus:ring-blue-600 focus:border-blue-600;
}

.select-button,
button.select-button {
  .input {
    @apply p-0 border-none;

    &,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.select-disabled {
  .select-button,
  button.select-button {
    @apply border-gray-300 bg-slate-100 text-slate-500 cursor-not-allowed;
  }

  .input {
    @apply bg-transparent;
  }
}

.select-open {
  .select-button,
  button.select-button {
    @apply ring-1 ring-blue-600 border-blue-600;
  }
}

.select-value {
  @apply flex-1 truncate;
}

.select-arrow-icon {
  @apply absolute inset-y-0 right-0 pr-2 flex items-center text-slate-400 pointer-events-none;

  svg {
    @apply h-5 w-5;
  }
}

.select-clear-button {
  @apply cursor-pointer hover:text-slate-700 focus:text-slate-700 pointer-events-auto transition-colors duration-150 ease-in-out;
}

.select-popup-content {
  @apply bg-white shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm;
}

.select-option {
  @apply select-none;

  &.select-option-disabled {
    @apply pointer-events-none;

    .select-option-text {
      @apply text-slate-500;
    }
  }

  &.select-option-active {
    .select-option-text {
      @apply font-semibold;
    }

    .select-option-checkmark {
      @apply opacity-100;
    }
  }
}

.select-option-container {
  @apply cursor-default relative py-2 pl-3 pr-9 text-slate-900 hover:bg-slate-100;
}

.select-option-text {
  @apply font-normal block truncate;
}

.select-option-checkmark {
  @apply absolute inset-y-0 right-0 flex items-center pr-4 text-blue-700 opacity-0;

  svg {
    @apply -mr-1.5 h-5 w-5;
  }
}

.multiple-select-button {
  @apply py-2;

  &.multiple-selected {
    @apply pb-0;
  }
}

.multiple-search {
  @apply mx-3 my-2 p-1.5 shadow-none border-gray-200;
}

.multiple-select-value {
  @extend .select-value;
  @apply flex flex-wrap;
  min-height: 1.25rem;
}

.multiple-item {
  @apply relative mb-2 mr-2 px-3 inline-flex items-center rounded-full bg-slate-100;
}

.multiple-item-label {
  @apply font-medium text-slate-700;
}

.multiple-item-remove {
  @apply ml-1.5 -mr-1.5 p-0.5 rounded-md text-slate-500 text-slate-500 hover:text-slate-900 cursor-pointer;

  svg {
    @apply w-3.5 h-3.5 text-slate-400 hover:text-slate-900;
  }
}

.multiple-create-option {
  @apply flex items-center cursor-default select-none relative py-2 px-3 text-slate-900 hover:bg-slate-100;

  .spin {
    @apply ml-3 text-slate-500;
  }
}

.multiple-create-content {
  @apply flex-1 truncate;
}

.multiple-create-keyword {
  @apply pl-1 font-bold;
}

.select-group-label {
  @apply mt-1 pt-3 pb-1 px-3 text-slate-500 text-xs font-medium border-t border-gray-100 cursor-default select-none;
}

.select-cards {
  @apply space-y-2;
}

.select-card-container {
  @apply flex items-center px-4 py-2 bg-slate-100 hover:bg-slate-200 rounded-md cursor-pointer;
}

.select-card-disabled {
  .select-card-container {
    @apply opacity-50 cursor-not-allowed pointer-events-none;
  }
}

.select-card-content {
  @apply flex-1;
}

.select-card-icon {
  svg {
    @apply w-6 h-6 text-blue-700;
  }
}
