// ----------------------------------------------------------------------------
// Radio
.heyform-radio {
  @apply mb-2 cursor-pointer;
  min-height: 2.5rem;
}

.heyform-radio-container {
  @apply flex w-full p-2 rounded transition;

  background-color: var(--heyform-answer-opacity-10-color);
  color: var(--heyform-answer-color);
  box-shadow: var(--heyform-answer-opacity-60-color) 0 0 0 1px inset;

  &:hover {
    background-color: var(--heyform-answer-opacity-30-color);
  }
}

.heyform-radio-content {
  @apply flex flex-1 items-center;
}

.heyform-radio-hotkey {
  @apply flex items-center justify-center w-6 h-6 bg-white text-xs font-bold rounded-sm;
  background-color: var(--heyform-background-color);
  box-shadow: var(--heyform-answer-opacity-60-color) 0 0 0 1px inset;
}

.heyform-radio-label {
  @apply flex-1 ml-2 mr-2;
}

.heyform-radio-icon {
  @apply flex items-center justify-center opacity-0 invisible;

  svg {
    @apply w-6 h-6;
  }
}

.heyform-radio-selected {
  .heyform-radio-icon {
    @apply opacity-100 visible;
  }
}

.heyform-radio-selected {
  .heyform-radio-container {
    border-color: var(--heyform-answer-opacity-80-color);
    box-shadow: var(--heyform-answer-opacity-80-color) 0 0 0 2px inset;
  }

  .heyform-radio-hotkey {
    color: var(--heyform-background-color);
    background-color: var(--heyform-answer-opacity-80-color);
  }
}

.heyform-radio-image {
  @apply flex w-full h-40 items-center justify-center;

  img {
    @apply block min-w-full max-h-full min-h-0 object-cover;
  }
}

.heyform-radio-trigger {
  @extend .heyform-radio-image;
  background-color: var(--heyform-answer-opacity-80-color);
}

.heyform-radio-placeholder {
  path {
    vector-effect: non-scaling-stroke;
  }
}

.heyform-radio-group-disabled {
  .heyform-radio:not(.heyform-radio-selected) {
    @apply opacity-50 cursor-auto;

    .heyform-radio-container {
      &:hover {
        background-color: var(--heyform-answer-opacity-10-color);
      }
    }
  }
}


// ----------------------------------------------------------------------------
// CountrySelect
.heyform-select {
  @apply w-full;
}

.heyform-select-container {
  @apply flex items-center pb-2 cursor-pointer;
  color: var(--heyform-answer-color);
  border-bottom: 1px solid var(--heyform-answer-opacity-80-color);
}

.heyform-select-open {
  .heyform-select-container {
    box-shadow: 0 1px 0 0 var(--heyform-answer-opacity-80-color);
  }
}

.heyform-select-value {
  @apply h-8 flex flex-1 items-center;

  .fi {
    @apply h-4 bg-black bg-opacity-5;
  }
}

.heyform-select-label {
  @apply flex-1 text-2xl;
  color: var(--heyform-answer-color);

  &:before {
    content: attr(placeholder);
    color: var(--heyform-answer-opacity-30-color);
    @apply absolute hidden truncate pointer-events-none text-2xl;
  }

  &:empty:before {
    @apply block;
  }

  &:empty:after {
    content: "";
    @apply inline-block;
  }
}

.heyform-select-arrow-icon {
  svg {
    @apply w-6 h-6;
  }
}

.heyform-select-popup {
  @apply pt-2 bg-transparent max-h-60 overflow-auto focus:outline-none;
  background-color: var(--heyform-background-color);

  .heyform-input {
    @apply border-b-0 text-xl;

    &,
    &:focus {
      @apply mb-0 border-0;
    }
  }
}

.heyform-select-helper {
  @apply mb-4 text-sm;
  color: var(--heyform-answer-color);
}

// ----------------------------------------------------------------------------
// Blocks
.heyform-render-root {
	@apply w-screen h-screen overflow-hidden;
}

.heyform-root,
.heyform-wrapper {
	@apply relative w-full h-full;
}

.heyform-root {
	background-color: var(--heyform-background-color);
}

.heyform-root-android {
  .heyform-block-wrapper {
    @apply py-14;
  }
}

.heyform-wrapper {
  @apply z-10;
  transition: width 320ms cubic-bezier(0.22, 1, 0.36, 1) 0s;
  will-change: width;

  &,
  h1, h2, h3 {
    font-family: var(--heyform-font-family), Public Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
}

.heyform-root-open {
  @media (min-width: 800px) {
    .heyform-wrapper {
      width: calc(100% - 20rem);
    }
  }
}

.heyform-body,
.heyform-block-container {
  @apply absolute top-0 left-0 w-full h-full overflow-hidden;
  z-index: 6;
}

.heyform-body-active {
  z-index: 8;
}

.heyform-block-container {
  @apply z-10;

  &.heyform-dropdown-visible {
    .heyform-submit-container {
      @apply opacity-0 pointer-events-none;
    }
  }

  @media (max-width: 800px) {
    overflow-y: auto;
  }
}

.heyform-block {
  @apply relative h-full md:absolute md:inset-0 md:h-auto z-10;

  &.heyform-block-float_left,
  &.heyform-block-split_left,
  &.heyform-block-float_right,
  &.heyform-block-split_right {
    @apply w-full;

    .heyform-scroll-wrapper {
      @apply w-full md:w-1/2;
    }

    .heyform-scroll-container {
      @apply min-h-0 md:min-h-full;
    }
  }

  &.heyform-block-float_left,
  &.heyform-block-split_left {
    .heyform-scroll-wrapper {
      @media (min-width: 800px) {
        margin-left: 50%;
      }
    }
  }
}

.heyform-block-scroll,
.heyform-scroll-wrapper {
  @apply w-full h-full;
}

.heyform-scroll-wrapper {
  @apply relative px-6 md:px-20 overflow-x-hidden;
  @extend .scrollbar;
  transition: transform 500ms ease 0s, opacity 200ms ease 0s;
  will-change: transform, opacity;
  z-index: 6;

  @media (max-width: 800px) {
    overflow-y: auto;
  }
}

.heyform-block-float_left,
.heyform-block-split_left,
.heyform-block-float_right,
.heyform-block-split_right {
  &,
  .heyform-scroll-wrapper {
    @media (max-width: 800px) {
      @apply h-auto;
    }
  }
}

.heyform-block-previous {
  .heyform-scroll-wrapper {
    opacity: 0;
    transform: translateY(-100vh);
  }
}

.heyform-block-next {
  .heyform-scroll-wrapper {
    opacity: 0;
    transform: translateY(100vh);
  }
}

.heyform-block-entered {
  .heyform-scroll-wrapper {
    opacity: 1;
    transform: translateY(0);
  }
}

.heyform-scroll-container {
  @apply flex flex-col items-center justify-center min-h-full;
}

.heyform-block-main {
  @apply mx-auto w-full;
  max-width: 45rem;
}

.heyform-block-wrapper {
  @apply mt-16 mb-24 md:mt-20 md:mb-36;
}

.heyform-block-header {
  @apply mb-10;
}

.heyform-block-title {
  @apply text-2xl;
  color: var(--heyform-question-color);
}

.heyform-block-description {
  @apply text-lg;
  color: var(--heyform-description-color);
}

.heyform-block-title,
.heyform-block-description {
  a {
    color: var(--heyform-answer-color);
  }
}

.heyform-block-number {
  @apply text-base mb-1;
  color: var(--heyform-label-color);
}

.heyform-skip-button {
  @apply text-base px-3 py-2;
  color: var(--heyform-label-color);

  &:hover {
    color: var(--heyform-answer-color);
  }
}

// ----------------------------------------------------------------------------
// Layout
.heyform-layout {
  @apply relative md:absolute rounded-lg pointer-events-none;
  z-index: 4;

  img {
    @apply block w-full h-full object-cover object-center rounded-lg;
  }
}

.heyform-block-inline {
  .heyform-layout-inline {
    @apply relative mb-8 text-center;

    img {
      @apply inline-block w-auto h-auto rounded-none;
      max-width: 75%;
      max-height: 20rem;
    }
  }
}

.heyform-layout-cover {
  @apply absolute inset-0;

  img {
    @apply rounded-none;
  }
}

.heyform-layout-float_left,
.heyform-layout-float_right {
  @apply flex items-center justify-center;

  img {
    @apply w-full h-full object-cover rounded-none;

    @media (min-width: 800px) {
      @apply w-auto h-auto max-w-full;
      max-height: 70%;
    }
  }
}

.heyform-layout-float_left,
.heyform-layout-split_left {
  @apply left-0 top-0 w-full md:w-1/2 h-64 md:h-full;
}

.heyform-layout-float_left {
  @media (min-width: 800px) {
    padding-left: 5rem;
    padding-right: 3.5rem;
  }
}

.heyform-layout-split_left {
  img {
    @apply rounded-none;
  }
}

.heyform-layout-float_right,
.heyform-layout-split_right {
  @apply left-auto right-0 w-full md:w-1/2 h-64 md:h-full;
}

.heyform-layout-float_right {
  @media (min-width: 800px) {
    padding-left: 3.5rem;
    padding-right: 5rem;
  }
}

.heyform-layout-split_right {
  img {
    @apply rounded-none;
  }
}


// ----------------------------------------------------------------------------
// Group
.heyform-block-group-container {
  @apply flex items-center w-full mx-auto;
  max-width: 45rem;
  min-height: 3.75rem;

  .heyform-block-number {
    @apply mb-0 text-xs;
  }

  .heyform-block-title {
    @apply flex-1 truncate ml-4 mb-0 text-xl;
  }
}

// ----------------------------------------------------------------------------
// Welcome
.heyform-empty-state {
  .heyform-block-title {
    @apply text-3xl mb-4;
  }

  .heyform-layout-inline img {
    @apply rounded-none;
  }
}

.heyform-statement {
  .heyform-block-title,
  .heyform-block-description,
  .heyform-layout-inline {
    @apply text-left;
  }

  .heyform-submit-container {
    @apply justify-start;
  }
}

// ----------------------------------------------------------------------------
// Short text
.heyform-input,
.heyform-input[type="email"],
.heyform-input[type="number"],
.heyform-input[type="tel"],
.heyform-textarea {
  @apply w-full p-0 pb-2 border-none bg-transparent text-2xl transition outline-none shadow-none;
  color: var(--heyform-answer-color);
  border-radius: 0;
  border-bottom: 1px solid var(--heyform-answer-opacity-80-color);

  &:focus {
    @apply -mb-px border-2;
    box-shadow: none;
    border-color: var(--heyform-answer-opacity-80-color);
  }

  &::placeholder {
    color: var(--heyform-answer-opacity-30-color);
  }
}

// ----------------------------------------------------------------------------
// Long text
.heyform-textarea {
  @apply relative;
  min-height: 2.5rem;

  &:empty:before {
    @apply absolute truncate pointer-events-none text-2xl;
    content: attr(placeholder);
    color: var(--heyform-answer-opacity-30-color);
  }
}

.heyform-textarea-tip {
  @apply mt-1.5 text-xs;
  color: var(--heyform-answer-color);
}

// ----------------------------------------------------------------------------
// Opinion scale
.heyform-opinion-scale {
  .heyform-radio-icon {
    @apply hidden;
  }

  .heyform-radio-group {
    @apply flex flex-wrap items-center justify-center md:justify-start md:space-x-2;
  }

  .heyform-radio {
    @apply flex-none md:flex-1 mx-1 md:mx-0 w-14 md:w-auto h-14;
  }

  .heyform-radio-container {
    @apply h-full;
  }

  .heyform-radio-label {
    text-align: center;
  }

  .heyform-radio-selected {
    .heyform-radio-container {
      color: var(--heyform-background-color);
      background-color: var(--heyform-answer-color);
    }
  }
}

.heyform-opinion-scale-labels {
  @apply flex items-center mt-1;
  color: var(--heyform-answer-color);
}

// ----------------------------------------------------------------------------
// Multiple choice
.heyform-multiple-choice {
  .heyform-radio-group {
    @apply inline-flex flex-col;
    flex-flow: column wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
  }

  .heyform-radio {
    @apply w-auto max-w-full;
  }

  .heyform-radio-container {
    @apply inline-flex w-full;
    min-width: 14rem;
    max-width: 100%;
  }
}

.heyform-radio-label {
  .input {
    @apply p-0;
  }

  .input,
  .input-focused {
    @apply px-0 border-none outline-none shadow-none;
    box-shadow: none;
  }

  input {
    @apply text-lg w-full;
    color: var(--heyform-answer-color);

    &::placeholder {
      color: var(--heyform-answer-opacity-60-color);
    }
  }
}

// ----------------------------------------------------------------------------
// Picture choice
.heyform-picture-choice {
  .heyform-radio-group {
    @apply flex flex-wrap -mx-1 -mb-2 items-stretch;
  }

  .heyform-radio {
    @apply w-1/2 md:w-1/4 px-1 mb-2;
    height: 12rem;

    &:hover {
      .heyform-radio-actions {
        @apply block;
      }
    }
  }

  .heyform-radio-container {
    @apply relative flex-col p-2.5 w-full h-full;
  }

  .heyform-radio-content {
    @apply w-full flex-none;
  }

  .heyform-radio-image {
    @apply py-2.5;

    svg {
      @apply w-8 h-8;
      color: var(--heyform-answer-opacity-60-color);
    }
  }

  .heyform-radio-icon {
    @apply absolute right-0 top-0;

    svg {
      @apply absolute top-1/2 left-1/2 -ml-7 mt-0.5;
      color: var(--heyform-background-color);
    }

    &:before {
      @apply absolute right-0 top-0 w-0 h-0 rounded-r border;
      content: "";
      border-width: 1.5rem;
      border-style: solid;
      border-image: initial;
      border-color: var(--heyform-answer-color) var(--heyform-answer-color) transparent transparent;
      border-radius: 0.25rem;
    }
  }
}

// -----------------------------------------------------------------------------
// File upload
.heyform-file-uploader {
  @apply flex items-center justify-center h-72 rounded transition cursor-pointer;
  color: var(--heyform-answer-opacity-60-color);
  border: 1px dashed var(--heyform-answer-color);
  background-color: var(--heyform-answer-opacity-10-color);

  &:hover {
    background-color: var(--heyform-answer-opacity-30-color);
  }
}

.heyform-upload-file {
  color: var(--heyform-answer-color);
  @apply px-4 break-all text-center;
}

.heyform-file-uploader-dragging {
  border-width: 2px;
}

.heyform-upload-wrapper {
  @apply flex flex-col items-center pointer-events-none;
}

.heyform-upload-icon {
  @apply w-20 h-20;
  color: var(--heyform-answer-opacity-30-color);

  path {
    vector-effect: non-scaling-stroke;
  }
}

.heyform-upload-size-limit,
.heyform-upload-reselect {
  @apply mt-1 text-sm;
}

.heyform-upload-reselect {
  @apply text-center;

  span {
    @apply inline-block px-2 py-1 rounded text-sm;
    color: var(--heyform-answer-opacity-80-color);
    background-color: var(--heyform-answer-opacity-10-color);
  }
}


// -----------------------------------------------------------------------------
// Signature
.heyform-signature-wrapper {
  border: 1px dashed var(--heyform-answer-color);
  background-color: var(--heyform-answer-opacity-10-color);

  &,
  canvas {
    @apply w-full h-40 rounded;
  }
}

.heyform-signature-bottom {
  @apply flex items-center justify-between mt-2;

  &,
  button.button {
    color: var(--heyform-answer-opacity-60-color);
  }

  button.button {
    &,
    &:focus,
    &:hover {
      box-shadow: none;
      outline: none;
      background: none;
    }
  }
}


// ----------------------------------------------------------------------------
// Rating
.heyform-rating {
  .rate {
    @apply flex-wrap justify-center md:justify-start md:space-x-2;
  }

  .rate-item {
    @apply flex flex-col mx-1 md:mx-0 w-16 cursor-pointer;
  }

  .heyform-icon {
    @apply w-16 h-16 mb-2;
  }

  .heyform-icon-stroke {
    stroke: var(--heyform-answer-color);
  }

  .rate-item-hover {
    .heyform-icon-fill {
      fill: var(--heyform-answer-opacity-10-color);
    }
  }

  .rate-item-active {
    .heyform-icon-fill {
      fill: var(--heyform-answer-color);
    }
  }

  .heyform-rate-index {
    @apply block text-center;
    color: var(--heyform-answer-color);
  }
}

// ----------------------------------------------------------------------------
// Phone number
.heyform-phone-number {
  .heyform-input {
    @apply w-80 ml-4;
  }

  .heyform-select {
    @apply w-12;
  }

  .heyform-select-arrow-icon {
    svg {
      @apply w-4 h-4;
    }
  }

  @media (max-width: 800px) {
    .heyform-input {
      @apply w-full flex-1;
    }
  }
}

.heyform-radio-calling-code {
  @apply w-8;
}

.heyform-phone-number-popup {
  width: inherit !important;
}

// ----------------------------------------------------------------------------
// Date
.heyform-date-root {
  @apply flex items-end;

  .heyform-date-divider {
    @media (max-width: 500px) {
      @apply text-xl mb-2.5 mr-2 ml-2;
    }
  }

  .heyform-date-item-hour {
    @media (max-width: 500px) {
      @apply ml-4;
    }
  }

  .heyform-date-item-month,
  .heyform-date-item-day,
  .heyform-date-item-hour,
  .heyform-date-item-minute {
    @media (max-width: 500px) {
      @apply w-10;
    }
  }
}

.heyform-date-item {
  @apply flex flex-col;
}

.heyform-date-label {
  @apply text-sm mb-2;
  color: var(--heyform-answer-color);
}

.heyform-date-item-month,
.heyform-date-item-day,
.heyform-date-item-hour,
.heyform-date-item-minute {
  @apply w-12;
}

.heyform-date-item-year {
  @apply w-16;
}

.heyform-date-item-hour {
  @apply ml-8;
}

.heyform-date-divider,
.heyform-range-divider {
  @apply text-2xl mb-2 mr-4 ml-5;
  color: var(--heyform-answer-color);
}

.heyform-range-root {
  @apply flex items-center;

  @media (max-width: 800px) {
    @apply flex-col items-start;

    .heyform-range-divider {
      @apply mx-0 my-7 pb-0;
    }
  }
}

.heyform-range-width-time {
  @apply flex-col items-start;

  .heyform-range-divider {
    @apply mx-0 my-7 pb-0;
  }

  .heyform-date-divider,
  .heyform-range-divider {
    @media (max-width: 500px) {
      @apply text-xl mb-2.5 mr-2 ml-2;
    }
  }

  .heyform-range-divider {
    @media (max-width: 500px) {
      @apply mb-4;
    }
  }

  .heyform-date-item-hour {
    @media (max-width: 500px) {
      @apply ml-4;
    }
  }

  .heyform-date-item-month,
  .heyform-date-item-day,
  .heyform-date-item-hour,
  .heyform-date-item-minute {
    @media (max-width: 500px) {
      @apply w-10;
    }
  }
}

.heyform-range-divider {
  @apply pb-2 mx-12 mt-7;
}


// ----------------------------------------------------------------------------
// Input table
.heyform-table-root {
  @apply w-full overflow-x-auto;

  table {
    @apply w-full border-separate;
    border-spacing: 0 0.5rem;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0.5rem;
  }

  tr {
    td,
    th {
      @apply border-0 p-0;
    }
  }

  tr {
    td {
      @apply h-12 mb-1;
      background: var(--heyform-answer-opacity-10-color);
      border-right: 1px solid var(--heyform-answer-opacity-10-color);

      &:nth-of-type(1) {
        @apply rounded-l-md;
      }

      &:nth-last-of-type(1) {
        @apply rounded-r-md;
        border-right: none;
      }
    }
  }
}

.heyform-table-header {
  th {
    @apply text-lg text-center;
    color: var(--heyform-answer-color);
  }
}

.heyform-table-row {
  .heyform-input {
    @apply w-full h-full px-3 py-2 text-xl border-0 bg-transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    &,
    &:focus {
      outline: none;
      box-shadow: none;
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      background-color: var(--heyform-answer-opacity-10-color);
      border-color: var(--heyform-answer-opacity-10-color);
    }
  }

  td {
    &:nth-of-type(1) {
      input {
        @apply rounded-l-md;
        border-left: none;
      }
    }

    &:nth-last-of-type(1) {
      input {
        @apply rounded-r-md;
        border-right: none;
      }
    }
  }
}


// ----------------------------------------------------------------------------
// Payment
.heyform-payment-header {
}

.heyform-payment-body {
  @apply mt-8 px-8 pt-10 pb-0 rounded-xl;
  background-color: var(--heyform-answer-opacity-10-color);

  .StripeElement {
    @apply pt-1 pb-2;
    max-height: 2.625rem;
    border: none;
    border-bottom: 1px solid var(--heyform-answer-opacity-80-color);
  }

  .StripeElement--focus {
    margin-bottom: -1px;
    border-width: 2px;
    border-color: var(--heyform-answer-opacity-80-color);
  }
}

.heyform-payment {
  .heyform-form-field {
    min-height: 7rem;
  }

  .heyform-validation-wrapper {
    @apply mt-2
  }
}

.heyform-payment-item-error + .heyform-validation-wrapper {
  @apply hidden;
}

.heyform-payment-label {
  @apply pb-1;
  color: var(--heyform-answer-color);
}

.heyform-payment-wrapper {
  @apply flex items-start justify-items-stretch w-full space-x-4;

  .heyform-form-field {
    @apply flex-1;
  }
}


// ----------------------------------------------------------------------------
// Header
.heyform-header {
  @apply absolute left-0 top-0 w-full px-4 py-2 md:py-4 z-20;
}

.heyform-header-wrapper {
  @apply flex items-center justify-end;
}

// ----------------------------------------------------------------------------
// Footer
.heyform-footer {
  @apply absolute left-0 bottom-0 w-full p-4 z-20 pointer-events-none;
}

.heyform-footer-wrapper,
.heyform-footer-left,
.heyform-footer-right,
.heyform-pagination {
  @apply flex items-center;
}

.heyform-footer-wrapper {
  @apply justify-between;
}

.heyform-footer-left,
.heyform-footer-right {
  @apply pointer-events-auto;
}

.heyform-welcome-footer {
  .heyform-footer-right {
    @apply justify-end;
  }
}

.heyform-progress,
.heyform-countdown,
.heyform-branding,
.heyform-pagination button.button {
  @apply px-2.5 py-2.5 md:py-0.5 shadow-none text-sm;
  min-height: 1.875rem;
  background-color: var(--heyform-button-color);
  color: var(--heyform-button-text-color);

  &:hover {
    @apply opacity-80;
    background-color: var(--heyform-button-color) !important;
  }
}

.heyform-pagination {
  .tooltip-trigger {
    @apply flex;
  }
}

.heyform-progress,
.heyform-countdown {
  @apply mr-2 rounded;
  line-height: 1.5rem;
}

.heyform-progress {
  @apply flex items-center;

  span {
    @apply hidden md:block ml-2;
  }
}

.heyform-circular-progressbar {
  @apply w-6 h-6 md:w-4 md:h-4;
}

.heyform-circular-circle {
  stroke: var(--heyform-button-text-opacity-20-color);
}

.heyform-circular-path {
  stroke: var(--heyform-button-text-color);
}

.heyform-footer-right {
  @apply flex-1 justify-between md:flex-none md:justify-end;
}

.heyform-pagination,
.heyform-sidebar-toggle {
  @apply mr-2;
}

.heyform-branding {
  @apply rounded;
  line-height: 1.5rem;
}

.heyform-pagination .button {
  @apply px-3 py-3 md:px-2 md:py-0.5;

  .button-trailing {
    @apply m-0;
    color: var(--heyform-button-text-color);

    svg {
      @apply w-6 h-6;
    }
  }

  &[disabled] {
    @apply opacity-100 cursor-default;

    .button-trailing {
      @apply opacity-60;
    }
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

button.heyform-pagination-next {
  @apply rounded-l-none;
}

button.heyform-pagination-previous {
  @apply relative rounded-r-none;

  &:after {
    @apply absolute right-0 top-0 w-px h-full opacity-30;
    content: "";
    background-color: var(--heyform-button-text-color);
  }
}

// ----------------------------------------------------------------------------
// Form
.heyform-validation-wrapper {
  @apply mt-4;
}

.heyform-validation-error {
  @apply inline-block px-2 py-1 text-red-600 bg-red-600 bg-opacity-10 rounded text-sm;
}

.heyform-submit-container {
  @apply flex items-center mt-8 transition-opacity duration-500;
}

button.heyform-submit-button {
  @apply inline-flex items-center justify-center px-5 py-1.5 text-lg font-medium shadow-none outline-none rounded-md;
  min-width: 7.5rem;
  background-color: var(--heyform-button-color);
  color: var(--heyform-button-text-color);

  &:hover {
    background-color: var(--heyform-button-opacity-80-color);
  }

  svg {
    @apply ml-2 -mr-1 h-5 w-5;
  }

  .spin {
    @apply ml-0 mr-2;
  }
}

.heyform-justify-between {
  @apply justify-between;
}

.heyform-submit-warn {
  @apply mt-4 text-sm;

  &,
  a {
    color: var(--heyform-answer-color);
  }

  a {
    @apply underline;
  }
}

// ----------------------------------------------------------------------------
// Sidebar
.heyform-sidebar {
  @apply absolute top-0 right-0 w-80 h-full border-l z-10;
  background-color: var(--heyform-background-color);
  border-left-color: var(--heyform-group-background-color);
  transition: transform 320ms cubic-bezier(0.22, 1, 0.36, 1) 0s;
  transform: translateX(100%);
  will-change: transform;

  @media (max-width: 800px) {
    @apply inset-0 w-full z-30 border-none;
  }
}

.heyform-sidebar-entered,
.heyform-sidebar-entering {
  transform: translateX(0);
}

.heyform-sidebar-exiting,
.heyform-sidebar-exited {
  transform: translateX(100%);
}

.heyform-sidebar-container {
  @apply flex flex-col h-full;
}

.heyform-sidebar-heading {
  @apply flex items-center justify-between px-6 pt-6 pb-4;

  button.button {
    margin-right: -0.3125rem;
    outline: none;
    box-shadow: none;
  }

  .button-leading {
    color: var(--heyform-question-color);
  }
}

.heyform-sidebar-title {
  @apply text-lg font-medium;
  color: var(--heyform-question-color);
}

.heyform-sidebar-content {
  @apply flex-1 overflow-y-auto;
}

.heyform-sidebar-question {
  @apply pl-2 pr-6 py-1 cursor-pointer;

  &.heyform-sidebar-question-selected {
    & > .heyform-sidebar-question-root {
      .heyform-sidebar-question-title {
        @apply font-medium;
        color: var(--heyform-question-color);
      }
    }
  }

  &.heyform-sidebar-question-collapsed {
    .heyform-sidebar-question-children {
      @apply hidden;
    }
  }
}

.heyform-sidebar-question-list {
  @apply pb-6;
}

.heyform-sidebar-question-root {
  @apply flex items-center;
}

.heyform-sidebar-question-title {
  color: var(--heyform-description-color);
}

.heyform-sidebar-question-toggle-collapse {
  @apply flex items-center justify-center w-4 pr-2 text-gray-500 min-h-0 h-full;
  min-height: 1.5rem;
}

.heyform-sidebar-question-children {
  .heyform-sidebar-question-title {
    @apply pl-2;
  }
}

.heyform-branding {
  background-color: var(--heyform-button-color);
  color: var(--heyform-button-text-color);

  svg {
    @apply hidden;
  }
}

.heyform-is-welcome {
  @media (max-width: 800px) {
    .heyform-footer {
      @apply border-t border-slate-100 bg-white;
    }

    .heyform-footer-right {
      @apply justify-center;
    }

    .heyform-branding {
      @apply w-full flex items-center justify-center gap-4 text-base font-medium;

      svg {
        @apply block w-6 h-auto;
      }
    }
  }
}

// ----------------------------------------------------------------------------
// Mobile preview
.form-preview-mobile {
  .heyform-root-open .heyform-wrapper {
    @apply w-auto;
  }

  .heyform-block-container {
    overflow: hidden;
  }

  .heyform-block {
    overflow: hidden;
  }

  .heyform-body-split-layout {
    .heyform-block {
      @apply relative;
    }

    .heyform-block-container {
      overflow-y: auto;
      @extend .scrollbar;
    }

    .heyform-theme-background {
      @apply absolute w-full;
      right: unset;
    }

    .heyform-scroll-wrapper {
      margin-left: 0;
      overflow-y: unset;
      height: auto;
      //min-height: calc(100vh - 16rem);
    }
  }

  .heyform-block.heyform-block-float_left,
  .heyform-block.heyform-block-split_left {
    width: 100%;
    height: auto;
    left: unset;
  }

  .heyform-block.heyform-block-float_right,
  .heyform-block.heyform-block-split_right {
    width: 100%;
  }

  .heyform-block.heyform-block-float_left,
  .heyform-block.heyform-block-split_left,
  .heyform-block.heyform-block-float_right,
  .heyform-block.heyform-block-split_right {
    .heyform-scroll-wrapper {
      @apply w-full min-h-0;
    }
  }

  .heyform-scroll-wrapper {
    @apply w-full px-6;
  }

  .heyform-layout {
    position: relative;
  }

  .heyform-layout-float_left,
  .heyform-layout-split_left,
  .heyform-layout-float_right,
  .heyform-layout-split_right {
    height: 16rem;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .heyform-opinion-scale .heyform-radio-group {
    justify-content: center;
    @apply space-x-0;
  }

  .heyform-opinion-scale .heyform-radio {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    height: 3.5rem;
    width: 3.5rem;
    flex: none;
  }

  .heyform-picture-choice .heyform-radio {
    @apply w-1/2;
  }

  .heyform-rating .rate {
    justify-content: center;
    @apply space-x-0;
  }

  .heyform-rating .rate-item {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .heyform-phone-number .heyform-input {
    width: 100%;
    flex: 1 1 0%;
  }

  .heyform-date-root .heyform-date-divider {
    margin-bottom: 0.625rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .heyform-date-root .heyform-date-item-hour {
    margin-left: 1rem;
  }

  .heyform-date-root .heyform-date-item-month,
  .heyform-date-root .heyform-date-item-day,
  .heyform-date-root .heyform-date-item-hour,
  .heyform-date-root .heyform-date-item-minute {
    width: 2.5rem;
  }

  .heyform-range-root {
    flex-direction: column;
    align-items: flex-start;
  }

  .heyform-range-root .heyform-range-divider {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    padding-bottom: 0px;
  }

  .heyform-range-width-time .heyform-date-divider,
  .heyform-range-width-time .heyform-range-divider {
    margin-bottom: 0.625rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .heyform-range-width-time .heyform-range-divider {
    margin-bottom: 1rem;
  }

  .heyform-range-width-time .heyform-date-item-hour {
    margin-left: 1rem;
  }

  .heyform-range-width-time .heyform-date-item-month,
  .heyform-range-width-time .heyform-date-item-day,
  .heyform-range-width-time .heyform-date-item-hour,
  .heyform-range-width-time .heyform-date-item-minute {
    width: 2.5rem;
  }

  .heyform-progress span {
    margin-left: 0.5rem;
    display: none;
  }

  .heyform-footer-right {
    flex: 1 1 0%;
    justify-content: space-between;
  }

  .heyform-sidebar {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    border-style: none;
  }

  .heyform-block-wrapper {
    @apply mt-12 mb-20;
  }

  .heyform-welcome-footer {
    .heyform-footer-right {
      @apply justify-end;
    }
  }

  .heyform-is-welcome {
    .heyform-footer {
      @apply border-t border-gray-200;
    }

    .heyform-footer-right {
      @apply justify-center;
    }

    .heyform-branding {
      @apply w-full bg-transparent text-black text-base font-bold text-center;
    }
  }
}
