@tailwind base;
@tailwind components;
@tailwind utilities;

@import "base";
@import "components";
@import "@/components/ui/style";

body {
  @apply antialiased font-sans;
}

.overflow-y-auto {
  -webkit-overflow-scrolling: touch;
}

.modal-body,
.select-popup-content {
  @extend .scrollbar;
}

.non-scaling-stroke {
  path {
    vector-effect: non-scaling-stroke;
  }
}

.empty-states-fit,
.empty-states-full {
  @apply flex flex-col justify-center;
}

.empty-states-fit {
  height: calc(100vh - 23.625rem);

  @media (min-width: 768px) {
    height: calc(100vh - 18.75rem);
  }
}

.empty-states-full {
  height: calc(100vh - 8.125rem);

  @media (min-width: 768px) {
    height: calc(100vh - 5rem);
  }
}

.plan-check {
  &:hover {
    & > a,
    & > .button {
      @apply rounded-md text-slate-900 bg-slate-200;
    }
  }
}

.button.free-trial__button {
  @apply bg-blue-700 py-2 px-6 rounded-md text-slate-50;

  .button-content {
    @apply text-base font-medium;
  }
}

.sidebar-nav {
  a.active {
    @apply bg-slate-200;
  }
}

.share-modal {
  .modal-mask {
    @apply md:bg-transparent z-[99];
  }

  .modal-container {
    @apply md:pt-[80px] md:items-start md:justify-end z-[99];
  }

  .modal-content {
    @apply border border-slate-200;
  }

  .modal-body {
    @apply p-6;
  }
}

.select-button {
  @apply pr-8;
}

.form-content-container {
  @apply h-[calc(100vh-68px)];
  @extend .scrollbar;
}
