.color-picker {
  @apply space-y-2;

  .react-colorful {
    @apply w-full h-40;
  }

  .react-colorful__pointer {
    @apply w-[0.875rem] h-[0.875rem] bg-transparent border-none;
    box-shadow: white 0px 0px 0px 3px inset, rgb(0 0 0 / 10%) 0px 0px 0px 4px inset,
      rgb(0 0 0 / 10%) 0px 0px 0px 1px;
  }

  .react-colorful__pointer-fill {
    @apply opacity-0;
  }

  .react-colorful__saturation {
    @apply overflow-hidden rounded-lg border-none shadow-none;

    .react-colorful__interactive {
      @apply inset-0.5;
    }
  }

  .react-colorful__hue,
  .react-colorful__alpha {
    @apply h-2 mt-2.5 rounded-lg cursor-pointer;

    .react-colorful__interactive {
      @apply left-1 right-1;
    }
  }
}

.color-picker-input {
  @apply flex items-center h-[1.875rem] space-x-2.5;

  input {
    @apply w-full h-full pl-2 pr-10 text-sm text-gray-700 bg-gray-100 border border-gray-100 outline-none rounded-lg focus:border-blue-700;
  }
}

.color-picker-value,
.color-picker-alpha {
  @apply relative h-full;
}

.color-picker-alpha {
  @apply flex w-28 h-full;

  input {
    @apply pr-4;
  }

  &:hover {
    .color-picker-alpha-ticker {
      @apply opacity-100;
    }
  }
}

.color-picker-alpha-ticker {
  @apply absolute top-0 right-1 bottom-0 flex flex-col justify-center opacity-0;
}

.color-picker-alpha-ticker-button {
  @apply flex items-center justify-center w-4 h-3 rounded-sm text-gray-700 hover:bg-gray-200 focus:text-gray-900;

  svg {
    @apply w-4 h-4;
  }
}

.color-picker-presets {
	margin-top: 20px !important;
  @apply grid grid-cols-8 gap-2;
}

.color-picker-preset {
  @apply w-5 h-5 rounded-md cursor-pointer;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
