.popup-mask {
  @apply fixed z-20 inset-0;
}

.popup-content {
  @apply z-20 transition ease-in-out;
  transform-origin: 0 0;
}

.popup-placement-top {
  transform-origin: 50% 200%;
}

.popup-placement-top-start {
  transform-origin: 0% 200%;
}

.popup-placement-top-end {
  transform-origin: 100% 200%;
}

.popup-placement-right {
  transform-origin: -100% 50%;
}

.popup-placement-right-end {
  transform-origin: 0 50%;
}

.popup-placement-left {
  transform-origin: 150% 50%;
}

.popup-placement-left-start {
  transform-origin: 100% 0;
}

.popup-placement-left-end {
  transform-origin: 100% 100%;
}

.popup-placement-bottom {
  transform-origin: 50% 0%;
}

.popup-placement-bottom-end {
  transform-origin: 100% 0;
}

// Transaction
.popup-transition-preEnter,
.popup-transition-exiting {
  .popup-content {
    @apply transform opacity-0 scale-95;
  }
}

.popup-transition-preExit,
.popup-transition-entering {
  .popup-content {
    @apply transform opacity-100 scale-100;
  }
}

.popup-transition-exited {
  .popup-content {
    @apply transform opacity-0 scale-95;
  }
}
